body {
	margin: 0; padding:0;
	width: 100%;
	height: 100%;
	background-color: #aaa;
    font-family: 'Orbitron', sans-serif;
	color: #fff;
}
/*'Julius Sans One' 'Orbitron' */
div {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.background-fallback {
    opacity: 0.2;
    width: 100%; height:100%; z-index: -1; position: absolute;
    background-color: #000;
}
.toggle {
	z-index: 10;
	position: absolute;
	background-color: #6ea; opacity: 0;
}
.toggle:hover {
	opacity: 0.4;
}
.ui-circle {
	background-color: rgba(0,0,0,0.0);
	width: 5em; height:5em;
	opacity: 1.0;
}
.ui-circle[data-toggled='true'] {
border-bottom: 5px solid #d22;
}
.ui-circle:hover {
	opacity: 1.0;
}
.hidden {
	opacity : 0.0;
}
.ui {
	position: absolute;
	width: 100%; height: 100%;
}
.ui.hidden {
	opacity: 0.0;
}

.arktype-app-wrapper {
    position: absolute;
    margin: 0; padding: 0; top: 0; left: 0;
	width: 100%; height: 100%; overflow: hidden;

	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-ms-perspective: 900px;
	-o-perspective: 900px;
	perspective: 900px;
}
.visualyser {
	position:absolute;
        z-index: -5;
	margin: 0; padding: 0; top: 0; left:0;
	width: 100%; height: 100%;
	background-color: #a00;
}
.visualyser canvas {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #5af;
}
.panel {
	background: rgba(10%,10%,30%,0.5);
}
.panel-main {
    margin: 0; padding:0; top: 0; left:0;
    position: relative;  width: 25em; height: 100%;
    text-align: center;
	border-right: 5px solid #000;
}
.panel-main[data-visual-state='start'] {
	left: 35%;
}
.panel-main[data-visual-state='normal'] {
	left: 0;
}
	.toggle-panel-main {
		width:100%; height: 14em;
		top: 0;
	}
	.panel-main h1 {
		font-family: 'Orbitron', sans-serif;
		margin: 0; font-size: 4em ;
		margin-bottom: 1.5em;
	}
	.panel-main h1 p {
		font-family: 'Julius Sans One', sans-serif;
		margin: 0; font-size: 0.5em ;
	}

.app-controls {
	position:absolute; top:0;
	width: 100%; height: 100%;
	text-align: center;
	padding-top: 3em;
}
.app-controls[data-visual-state='stored'] {
	-webkit-transform: rotateY(180deg) translateX(100%);
	-moz-transform: rotateY(180deg) translateX(100%);
	-ms-transform: rotateY(180deg) translateX(100%);
	-o-transform: rotateY(180deg) translateX(100%);
	transform: rotateY(180deg) translateX(100%);

	opacity: 0.01;
}
.app-controls .control.main {
	padding: 0; top: 0;
	display: inline; line-height:3em;
}
.app-controls .control p {
	display: inline; line-height:3em;
	padding:0; top: 0;
}
.app-controls .control .name {
	font-size: 1em;
	font-weight:900; margin-right:1em;
}
.app-controls .control .conmutador {
	padding: 0; margin:0;
}
.app-controls .control .conmutador .a1,.app-controls .control .conmutador .a2 {
	display: inline-block;
	background-color: #9ed;
	opacity: 0.6;
	width: 4em; height: 2em;
	margin:0; padding:0;
	-webkit-transform: rotateY(30deg);
	-moz-transform: rotateY(30deg);
	-ms-transform: rotateY(30deg);
	-o-transform: rotateY(30deg);
	transform: rotateY(30deg);
}
.app-controls .control .conmutador .a1{
	-webkit-transform: rotateY(-30deg);
	-moz-transform: rotateY(-30deg);
	-ms-transform: rotateY(-30deg);
	-o-transform: rotateY(-30deg);
	transform: rotateY(-30deg);
}
.app-controls .control .conmutador .a2:hover {
	-webkit-transform: rotateZ(25deg) translateZ(20px);
	-moz-transform: rotateZ(25deg) translateZ(20px);
	-ms-transform: rotateZ(25deg) translateZ(20px);
	-o-transform: rotateZ(25deg) translateZ(20px);
	transform: rotateZ(25deg) translateZ(20px);
}
.app-controls .control .conmutador .a1:hover{
	-webkit-transform: rotateZ(-25deg) translateZ(20px);
	-moz-transform: rotateZ(-25deg) translateZ(20px);
	-ms-transform: rotateZ(-25deg) translateZ(20px);
	-o-transform: rotateZ(-25deg) translateZ(20px);
	transform: rotateZ(-25deg) translateZ(20px);
}
.app-cover {
    padding-top: 3em;
}
.app-cover[data-visual-state='stored']{
	-webkit-transform: rotateY(180deg)  translateX(100%);
	-moz-transform: rotateY(180deg)  translateX(100%);
	-ms-transform: rotateY(180deg)  translateX(100%);
	-o-transform: rotateY(180deg)  translateX(100%);
	transform: rotateY(180deg)  translateX(100%);

	opacity: 0.01;
}
	.app-cover .info-app {
		font-size: 2em ;
		margin-bottom: 3em;
	}
	.app-cover input {
		margin-top: 1em;
	}
	.firma {
		font-family: 'Julius Sans One', sans-serif;
		font-size: 2em;
		font-weight: 700;
	}
.panel-sources {
    position:absolute;
    height: 100%; width:100%;
    bottom:0; left:0;
    z-index: 5;
}
.panel-sources[data-visual-state='start'] {
	bottom: -100%;
}
.panel-sources[data-visual-state='stored'] {
	bottom: -60%;
}
.panel-sources[data-visual-state='normal'] {
	bottom: -100%;
}
.toggle-panel-sources {
	width: 100%; height: 3em;
	top:-3em;
}
	.panel-sources .player-soundcloud audio {
		width: 100%;
	}
	.panel-sources .soundcloud-url {
		display : block;
		left: 0; right: 0; margin-left: auto; margin-right: auto;
		width: 96%;
		font-size: 1.5em;font-weight: 500;
		padding: 5px 15px 5px 15px;
		background: rgba(10%,10%,10%,0.8);
		border-radius: 15px;
	}
		.panel-sources .soundcloud-url-text {
			display: inline;
		}
			.panel-sources .soundcloud-url-text p {
				display: inline;
			}
			.panel-sources .soundcloud-url-text input {
				width:60%;
				text-decoration:none;

				background: rgb(75, 25, 25);
				background: rgba(30%, 10%, 10%, 0.5);
				border:3px solid #113; border-radius:5px;
				font-size: 1em; font-family: 'Julius Sans One', sans-serif; color:#fff;
			}
		.panel-sources .soundcloud-url-load {
			display:inline-block; float: right;
			background: rgba(40%, 20%, 20%, 0.5);
			border: 1px solid #113; border-radius:8px;
			padding: 2px 15px 2px 15px;
		}
		.panel-sources .soundcloud-url-load:hover {
			background: rgba(10%,10%,50%,0.5);
			border-color: #fff;
		}
		.panel-sources .soundcloud-url-load p {
			display:inline;
		}
.panel-controller {
	position: absolute; z-index: 15;
	width: 20em; height: 5em;
	top : 0;
	right: 0; left:0; margin-left:auto; margin-right:auto;
	border-bottom: 5px solid #000;
}
.panel-controller.hidden:hover {
	opacity: 1.0;
}
.toggle-ui {
	float : left;
	left:0;
}
.toggle-fullscreen {
	float : right;
	right: 0;
}
.toggle-mute {
	margin-right: auto; margin-left: auto;
	left: 0; right: 0;
}

.navigator {
	position:relative;
	width:100%; height: auto;
	border-top: 5px solid #000;
}
.navigator-selector {
	position: relative; display: inline;
	height: 1.5em; padding-left: 1em; padding-right: 1em;
	font-size: 2em;
}
.navigator-selector[data-selected='true'] {
	background: rgba(40%,10%,10%,0.5);
	border-bottom:5px solid #000;
}
.navigator-tab {
	position:absolute; display:block;
	height: 100%; width: 95%;
	padding-top: 1em;
	left: 0;right: 0;
	margin-right: auto;margin-left: auto;
}
.navigator-tab[data-visual-state='normal'] {
	z-index:15;
}
.navigator-tab[data-visual-state='stored'] {
	pointer-events:none;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	opacity: 0.0;
}
