body {
	margin: 0; padding:0;
	width: 100%;
	height: 100%;
	background-color: #aaa;
    font-family: 'Orbitron', sans-serif;
	color: #fff;
}
/*'Julius Sans One' 'Orbitron' */
div {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}
/*container*/
.NEngine_canvas {
	position:absolute;
	z-index: -5;
	margin: 0; padding: 0; top: 0; left:0;
	width: 100%; height: 100%;
	background-color: #a00;
}
.NEngine_canvas canvas {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #5af;
}

div.info-basic-panel {
	width: 48vw;
	box-shadow: 0px 0px 2000px 150px #000 inset;
	background-color: rgba(0.3, 0.3, 0.3, 0.6);
	color: #3fe;
	top: 0;
	font-size: 0.8em;
	position:absolute;
	z-index: 10;
}

#info-basic-es {
	left: 0;
}
#info-basic-en {
	right: 0;
}

#info-basic-buttons {
	padding: 2px;
	position: absolute;
	left: 0;
	top:10vh;
	box-shadow: 0 0 1000px 20px #000 inset;
	/*box-shadow: 0 0 10px 5px #000;*/
}

.hide {
	opacity:0.0;
	display:none;
}
